header {
 display: flex;
 justify-content: space-between;
 background-color: goldenrod; 
}

body{
 text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#headerLogo{
 margin-left: 2vw;
 width: 4vw;
}

.extraLinks{
 display: flex;
 justify-items: space-between;
 gap: 4vw;
 margin-right: 2vw;
}

h1{
 font-size: 10vw;
 color: goldenrod;
}

.pmain{
 margin-top: 6vh;
 font-size: 3vw;
}

button{
 color: white;
 width: 25vw;
 height: 10vh;
 font-size: 1.5vw;
 background: goldenrod;
 font-weight: bolder;
 border-style: none;
 border-radius: 10px;
}

#extra-btn{
 display: none;
 margin-top: 2vh;
}
#exit-btn{
 display: none;
}

footer{
 margin-top: 10vh;
}
