h1{
 color: goldenrod;
}

header{
 display: flex;
 justify-content: space-between;
 margin: 2vw;
}

#headerLogo{
 width: 5vw;
}

.extraLinks{
 display: flex;
 justify-items: space-between;
 gap: 4vw;
}

h1{
 text-align: center;
 font-size: 10vw;
}

h2{
 margin-top: 6vh;
 text-align: center;
 font-size: 3vw;
}

footer{
 margin-top: 10vh;
}
